/** ========================== */
/*! ABOUT_SECTION */
/** ========================== */

.about-section {
}

.about-container {
  padding: 160px 0;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 40px;
  /* max-width: 1120px; */
  margin: 0 auto;
}

.about-text:last-child {
  margin-bottom: 0;
}

.about-title {
  font-weight: 600;
  font-size: 3.25rem;
  color: var(--text-color);
  letter-spacing: 0.04em;
  text-align: right;
}

.about-text {
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--text-color);

  /* text-align: center; */
  line-height: 1.4;
  letter-spacing: 0.04em;
  /* text-transform: uppercase; */

  margin-bottom: 1.5rem;
}

.about-text.animate {
  animation: text-focus-in 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/*? MEDIA-SCREEN  */

@media screen and (max-width: 424px) {
  .about-container {
    padding: 60px 10px;
  }

  .about-content {
    grid-template-columns: 1fr;
    gap: 32px;
    /* max-width: 1120px; */
    margin: 0 auto;
  }

  .about-context {
    max-width: 420px;
    margin: 0 auto;
  }

  .about-title {
    font-size: 3.25rem;
    text-align: center;
  }

  .about-text {
    font-weight: 400;
    font-size: 1.2rem;

    text-align: left;
    line-height: 1.6;
    letter-spacing: 0.04em;

    text-align: justify;
    margin-bottom: 1rem;
  }

  .about-text:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .about-container {
    padding: 90px 10px;
  }

  .about-text {
    font-weight: 400;
    font-size: clamp(1rem, 3vw, 1.2rem);

    text-align: left;
    line-height: 1.6;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    max-width: 768px;
    width: 100%;

    margin-bottom: 1.5rem;
    margin: 0 auto;
  }

  .about-text:last-child {
    margin-bottom: 0;
  }
}
