.fiber-container {
  position: relative;

  display: flex;
  align-items: start;
  justify-content: center;
  padding: 120px 0;
}

.fiber-container {
}

.container {
}

.card-fiber {
  align-self: center;
}

.card-title {
  font-weight: 500;
  font-size: 1.6rem;

  color: var(--text-color);

  margin-bottom: 32px;
}

.fiber-list {
  display: flex;
  align-items: center;
  justify-content: start;

  gap: 32px;

  min-width: 530px;
  width: 100%;
  height: auto;
}

.fiber-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  gap: 14px;

  clip-path: polygon(
    0 0,
    20% 0,
    20% 5%,
    80% 5%,
    80% 0,
    100% 0,
    100% 100%,
    80% 100%,
    80% 95%,
    20% 95%,
    20% 100%,
    0 100%
  );

  padding: 22px 20px;
  width: 220px;
  height: 160px;
}

.fiber-list-item::before {
  content: "";
  position: absolute;
  inset: 0;
  clip-path: inherit;
  border: 1px solid #fff;
  pointer-events: none;
}

.fiber-card-img {
  display: flex;
  align-items: center;

  background-color: var(--card-caption);
  padding: 4px;
  border-radius: 50%;
}

.list-icon {
  width: 60px;
  height: 60px;
}

.list-text {
  font-weight: 400;
  font-size: 1rem;

  letter-spacing: 0.04em;
  color: var(--text-color);
  line-height: normal;
}

.fiber-img {
  width: 500px;
  height: 392px;

  object-fit: contain;
  margin-bottom: 32px;
}

.content {
}

.fiber-content {
}

.fiber-title {
  font-weight: 500;
  font-size: 2rem;

  color: var(--title-color);

  margin-bottom: 14px;
}

.fiber-text {
  font-weight: 400;
  font-size: 1.12rem;
  color: var(--text-color);
  line-height: 1.4;
  letter-spacing: 0.04em;

  margin-bottom: 32px;
  max-width: 624px;
  width: 100%;
}

.fiber-subtitle {
  font-weight: 400;
  font-size: 1.12rem;
  color: var(--text-color);
  line-height: 1.4;
  letter-spacing: 0.04em;
  text-align: center;

  max-width: 512px;
  width: 100%;
}

.fib-description {
  position: absolute;

  top: 0;
  right: 0;
}

.fiber-desc {
  align-self: flex-start;
  width: fit-content;

  font-weight: 500;
  color: var(--span-color);
  font-size: 1.5rem;
  letter-spacing: 0.04em;

  padding: 6px 16px;
  background-color: var(--hero-caption);
  border-radius: 20px;
}

/*? MEDIA-SCREEN  */

@media screen and (max-width: 424px) {
  .fiber-container {
    position: relative;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    gap: 40px;

    padding: 90px 10px;
  }

  .fiber-desc {
    align-self: flex-start;
    width: fit-content;

    font-size: 1.37rem;
    letter-spacing: 0.04em;

    padding: 6px 16px;
  }

  .fiber-title {
    font-weight: 500;
    font-size: 2rem;

    color: var(--title-color);

    margin-bottom: 12px;
  }

  .card-title {
    font-size: 1.4rem;

    margin-bottom: 12px;
  }

  .fiber-text {
    font-size: 1.13rem;
    line-height: 1.4;
    letter-spacing: 0.06em;

    margin-bottom: 22px;
    max-width: 420px;
    width: 100%;
  }

  .fiber-img {
    width: 500px;
    height: 392px;

    object-fit: contain;
    padding-bottom: 22px;
  }

  .fiber-title {
    font-size: 1.5rem;
  }

  .fiber-subtitle {
    font-size: 1.13rem;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;

    max-width: 420px;
    width: 100%;
  }

  .card-fiber {
    align-self: start;
  }

  .card-title {
    font-size: 1.3rem;
    letter-spacing: 0.04em;
    color: var(--text-color);

    margin-bottom: 32px;
  }

  .fiber-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    gap: 26px;

    min-width: 0;
    width: 100%;
    height: auto;
  }

  .fiber-list-item {
    padding: 18px 14px;
    width: 250px;
    height: 152px;
  }

  .list-text {
    font-size: 1rem;

    letter-spacing: 0.04em;
    line-height: normal;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .fiber-container {
    position: relative;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    gap: 40px;

    padding: 90px 10px;
  }

  .fiber-desc {
    align-self: flex-start;
    width: fit-content;

    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 0.04em;

    padding: 8px 18px;
  }

  .card-title {
    font-weight: 500;
    font-size: 1.5rem;

    margin-bottom: 16px;
  }

  .fiber-text {
    font-size: 1.12rem;

    line-height: 1.4;
    letter-spacing: 0.06em;

    margin-bottom: 22px;
    max-width: 500px;
    width: 100%;
  }

  .fiber-img {
    width: 600px;
    height: 392px;

    object-fit: contain;
    padding-bottom: 22px;
  }

  .fiber-title {
    font-weight: 500;
    font-size: 1.5rem;

    margin-bottom: 16px;
  }

  .fiber-subtitle {
    font-size: 1.12rem;
    line-height: 1.4;
    letter-spacing: 0.06em;

    text-align: center;

    max-width: 600px;
    width: 100%;
  }

  .card-fiber {
    align-self: center;
  }

  .card-title {
    font-size: 1.5rem;
    letter-spacing: 0.04em;

    margin-bottom: 22px;
  }

  .fiber-list {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;

    gap: 22px;

    min-width: 425px;
    width: 100%;
    height: auto;
  }

  .fiber-list-item {
    padding: 18px 14px;
    width: 220px;
    height: 160px;
  }

  .list-text {
    font-size: 1rem;

    letter-spacing: 0.04em;
  }
}
