.footer {
  background-color: var(--footer-body);
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vh;
}
.footer-logo-box {
  padding: 2.75rem 0;
}
.footer-logo {
}
.copyright-box {
}
.copyright {
}
