.footer {
  background-color: var(--footer-body);
}

.footer-container {
  display: flex;
  align-items: center;

  padding: 0 30px;
}

.footer-logo-box {
  padding: 45px 0;
}

.footer-logo {
  font-weight: 700;
  font-size: 2.4rem;

  text-transform: uppercase;
  color: var(--text-color);
}

.copyright-box {
  position: relative;
  margin: 0 auto;
}

.copyright-box::before {
  content: "";
  position: absolute;
  width: 100%;
  min-width: 1200px;
  height: 1px;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.2);
}

.copyright {
  display: flex;
  align-items: center;

  gap: 4px;
  font-weight: 400;
  font-size: 1rem;

  color: var(--text-copyright);
}

/*? MEDIA-SCREEN  */

@media screen and (max-width: 424px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 22px;

    padding: 22px 30px;
  }

  .footer-logo-box {
    padding: 24px 0;
  }

  .footer-logo {
    font-size: 2rem;

    text-transform: uppercase;
  }

  .copyright-box::before {
    width: 100%;
    min-width: 360px;
  }

  .copyright {
    gap: 6px;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.04em;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 28px;

    padding: 30px 40px;
  }

  .footer-logo-box {
    padding: 24px 0;
  }

  .footer-logo {
    font-size: 2.62rem;

    text-transform: uppercase;
  }

  .copyright-box::before {
    width: 100%;
    min-width: 360px;
    max-width: 500px;
  }

  .copyright {
    gap: 6px;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.04em;
  }
}
