.fpv-section {
  position: relative;
}

.fpv-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* контент ліворуч, картинка+список праворуч */
  gap: 40px;

  padding: 120px 0;
}

.fpv-content {
}

.fpv-desc {
  width: fit-content;
  position: absolute;
  top: 0;

  font-weight: 600;
  color: var(--span-color);
  font-size: 1.5rem;

  letter-spacing: 0.04em;

  padding: 6px 16px;
  background-color: var(--hero-caption);
  border-radius: 20px;
}

.fpv-title {
  font-weight: 500;
  font-size: 2rem;

  color: var(--title-color);
  margin-bottom: 14px;
}

.fpv-text {
  font-weight: 400;
  font-size: 1.12rem;
  color: var(--text-color);
  line-height: 1.4;
  letter-spacing: 0.04em;

  width: 450px;
}

.fpv-highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 160px;
}

.fpv-img {
  width: 560px;
  height: 276px;
  object-fit: cover;

  /* margin-bottom: 10rem; */
}

.img-desc {
  font-weight: 400;
  font-size: 1rem;

  letter-spacing: 0.04em;
  line-height: 1.4;
  color: var(--text-color);
}

.fpv-imfo {
}

.list-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--title-color);

  margin-bottom: 32px;
}

.fpv-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 22px;

  max-width: 520px;
}

.fpv-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  gap: 14px;

  clip-path: polygon(
    0 0,
    20% 0,
    20% 5%,
    80% 5%,
    80% 0,
    100% 0,
    100% 100%,
    80% 100%,
    80% 95%,
    20% 95%,
    20% 100%,
    0 100%
  );

  padding: 22px 20px;
  width: 250px;
  height: 170px;
}

.fpv-list-item::before {
  content: "";
  position: absolute;
  inset: 0;
  clip-path: inherit;
  border: 1px solid #fff;
  pointer-events: none;
}

.fpv-list-item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

/* другий елемент – внизу зліва */
.fpv-list-item:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/* третій елемент – у правій колонці, але тільки зверху */
.fpv-list-item:nth-child(3) {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.icon-fpv-box {
  display: flex;
  align-items: center;

  background-color: var(--card-caption);
  padding: 12px;
  border-radius: 50%;
}

.fpv-list-icon {
  width: 24px;
  height: 24px;
}

.fpv-list-desc {
  font-weight: 400;
  font-size: 1rem;

  letter-spacing: 0.04em;
  line-height: 1.2;
  color: var(--text-color);
  width: 100%;
}

/*? MEDIA-SCREEN  */

@media screen and (max-width: 424px) {
  .fpv-container {
    grid-template-columns: 1fr; /* контент ліворуч, картинка+список праворуч */
    gap: 20px;

    padding: 60px 10px;
  }

  .fpv-desc {
    font-weight: 500;
    font-size: 1.37rem;
    letter-spacing: 0.04em;

    padding: 6px 16px;
  }

  .fpv-title {
    /* font-weight: 300; */
    font-size: 1.5rem;
    margin-bottom: 12px;
  }

  .fpv-text {
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: 0.04em;

    width: 100%;
  }

  .fpv-highlight {
    gap: 22px;
  }

  .fpv-img {
    width: 500px;
    height: 392px;

    object-fit: contain;
  }

  .img-desc {
    font-size: 1rem;
    letter-spacing: 0.06em;
    line-height: 1.4;
    text-align: center;
  }

  .fpv-imfo {
    width: 390px;
  }

  .list-title {
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: 0.04em;

    margin-bottom: 22px;
  }

  .fpv-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 14px;

    max-width: none;
  }

  .fiber-list-item {
    padding: 18px 14px;
    width: 220px;
    height: 160px;
  }

  .fpv-list-item {
    padding: 18px 14px;
    width: 220px;
    height: 160px;
  }

  .fpv-list-desc {
    font-size: 1rem;

    letter-spacing: 0.04em;
    line-height: normal;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .fpv-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* контент ліворуч, картинка+список праворуч */
    gap: 32px;

    padding: 90px 10px;
  }

  .fpv-desc {
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 0.04em;

    padding: 8px 18px;
  }

  .fpv-title {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 16px;
  }

  .fpv-text {
    font-size: 1.12rem;
    line-height: 1.4;
    letter-spacing: 0.06em;

    max-width: 600px;
    width: 100%;
  }

  .fpv-highlight {
    max-width: 600px;
    width: 100%;
    gap: 24px;
  }

  .fpv-img {
    width: 500px;
    height: auto;

    object-fit: cover;
  }

  .img-desc {
    font-size: 1rem;
    letter-spacing: 0.06em;
    line-height: 1.4;
    text-align: center;
  }

  .fpv-imfo {
    max-width: 600px;
    width: 100%;
  }

  .list-title {
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.04em;

    margin-bottom: 32px;
  }

  .fpv-list {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 24px;

    max-width: none;
  }

  .fiber-list-item {
    padding: 18px 14px;
    width: 220px;
    height: 160px;
  }

  .fpv-list-item {
    padding: 18px 14px;
    width: 220px;
    height: 160px;
  }

  .fpv-list-desc {
    font-size: 1rem;

    letter-spacing: 0.04em;
    line-height: normal;
  }
}

