@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

html {
  font-family: "Plus Jakarta Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  height: 100%;
  line-height: 1;
  background-color: var(--body-color);
}

body * {
  outline: 1px solid red;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

/* @keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
} */

.container {
  width: min(100%, 1280px); /* parent size 100% width */
  margin: 0 auto;
  padding: 0 15px;
}
