/** ========================== */
/*! HERO_SECTION */
/** ========================== */

.hero-section {
  background-color: var(--hero-background);
}

.hero-conteiner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 14px;
  grid-row-gap: 0px;

  height: 100vh;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  background-color: var(--body-color);
}

.caption-box {
}

.hero-caption {
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--span-color);

  letter-spacing: 0.04em;

  padding: 8px 16px;
  background: var(--hero-caption);
  border-radius: 20px;

  margin-bottom: 20px;
}

.hero-desc {
  display: flex;
  flex-direction: column;
  align-items: start;

  margin-left: 70px;
}

.hero-title {
  font-weight: 500;
  font-size: 3.25rem;

  color: var(--title-color);
  text-transform: uppercase;
  line-height: 1.2;

  margin-bottom: 60px;
}

.hero-title,
.hero-caption {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.1s both;
}

.hero-btn {
  font-weight: 400;
  font-size: 1.25rem;
  color: #fff;

  border: 1px solid var(--border-color);
  border-radius: 25px;
  padding: 14px 60px;

  cursor: pointer;
}

.hero-btn {
  animation: text-focus-in 800ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.3s both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.hero-btn:hover {
  transition: 250ms ease-in;
  background-color: #5c7cfa;
  border-color: #5c7cfa;
}
.hero-btn:active {
  transition: 200ms ease-out;
  box-shadow: 0 0 0 6px rgba(92, 124, 250, 0.25);
}

.hero-img-conteiner {
  align-self: center;
  margin-right: 4px;
}

.img-hero {
  width: 932px;
  height: 485px;
  aspect-ratio: 98/51;
}

/*? MEDIA-SCREEN  */

@media screen and (max-width: 424px) {
  .hero-conteiner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    height: 100vh;
  }

  .hero-img-conteiner {
    display: none;
  }

  .hero-content {
    width: 100%;
  }

  .hero-desc {
    margin-left: 10px;
  }

  .hero-title {
    font-size: 2rem;

    margin-bottom: 48px;
  }

  .hero-btn {
    font-weight: 400;
    font-size: 1rem;

    border-radius: 25px;
    padding: 14px 56px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .hero-conteiner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    height: 100vh;
  }

  .hero-img-conteiner {
    display: none;
  }

  .hero-content {
    width: 100%;
  }

  .hero-desc {
    margin-left: 10px;
  }

  .hero-title {
    font-size: 2.12rem;

    max-width: 768px;
    min-width: 425px;
    width: 100%;

    margin-bottom: 42px;
  }

  .hero-btn {
    font-weight: 400;
    font-size: 1.37rem;

    border-radius: 25px;
    padding: 14px 62px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero-conteiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 14px;
    grid-row-gap: 0px;

    height: 100vh;
  }

  .hero-img-conteiner {
    align-self: center;
    margin-right: 4px;
  }

  .img-hero {
    width: 640px;
    height: 320px;
    aspect-ratio: 98/51;
  }

  .hero-content {
    width: 100%;
  }

  .hero-desc {
    margin-left: 10px;
  }

  .hero-title {
    font-size: 2.12rem;

    max-width: 768px;
    min-width: 425px;
    width: 100%;

    margin-bottom: 42px;
  }

  .hero-btn {
    font-weight: 400;
    font-size: 1.37rem;

    border-radius: 25px;
    padding: 14px 62px;
  }
}
