.magura-section {
  position: relative;
}

.mag-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  place-items: center;

  padding: 120px 0;
  /* height: 100vh; */
}

.mag-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
}

.mag-desc {
  position: absolute;
  top: 0;
  width: fit-content;

  font-weight: 500;
  color: var(--span-color);
  font-size: 1.5rem;
  letter-spacing: 0.04em;

  padding: 6px 16px;
  background-color: var(--hero-caption);
  border-radius: 20px;
}

/* .mag-desc.animate {
  animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
} */

.mag-title {
  font-weight: 500;
  font-size: 2rem;

  color: var(--title-color);

  margin-bottom: 14px;
}

.mag-text {
  font-weight: 400;
  font-size: 1.12rem;

  color: var(--text-color);
  line-height: 1.6em;
  letter-spacing: 0.04em;

  width: 440px;
}

/* .mag-title.animate,
.mag-text.animate {
  animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
} */

.mag-images {
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.6s ease-out;
}

.m-img.animate {
  opacity: 1;
  transform: translateY(0);
}

.m-img {
  width: 640px;
  height: 330px;

  object-fit: cover;
}

.mag-info {
  grid-area: 2 / 2 / 3 / 2;
}

.mag-subtitle {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--title-color);

  margin-bottom: 32px;
}

.mag-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;

  gap: 32px;

  min-width: 530px;
  width: 100%;
  height: auto;
}

.mag-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  gap: 14px;

  clip-path: polygon(
    0 0,
    20% 0,
    20% 5%,
    80% 5%,
    80% 0,
    100% 0,
    100% 100%,
    80% 100%,
    80% 95%,
    20% 95%,
    20% 100%,
    0 100%
  );

  /* border: 1px solid #fff; */

  padding: 22px 20px;
  width: 250px;
  height: 152px;
}

.mag-item::before {
  content: "";
  position: absolute;
  inset: 0;
  clip-path: inherit;
  border: 1px solid #fff;
  pointer-events: none;
}

.card-img {
  display: flex;
  align-items: center;

  background-color: var(--card-caption);
  padding: 12px;
  border-radius: 50%;
}

.mag-list-img {
  width: 24px;
  height: 24px;
}

.mag-list-text {
  font-weight: 400;
  font-size: 1rem;

  letter-spacing: 0.04em;
  line-height: 1.2;
  color: var(--text-color);
}

/*? MAGURA */

@media screen and (max-width: 424px) {
  .mag-desc {
    font-size: 1.37rem;
    letter-spacing: 0.04em;

    padding: 6px 16px;
  }

  .mag-container {
    grid-template-columns: 1fr;
    gap: 20px;

    place-items: start;
    padding: 90px 10px;
  }

  .mag-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .mag-title {
    font-weight: 500;
    font-size: 2rem;

    margin-bottom: 12px;
  }

  .mag-text {
    font-size: 1.13rem;
    line-height: 1.4;
    letter-spacing: 0.06em;

    max-width: 390px;
  }

  .m-img {
    width: 390px;
    height: auto;

    object-fit: contain;
  }

  .mag-info {
    grid-area: auto;
    max-width: 390px;
  }

  .mag-subtitle {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--title-color);

    margin-bottom: 32px;
  }

  .mag-item {
    padding: 18px 14px;
    width: 250px;
    height: 152px;
  }

  .mag-list-text {
    font-weight: 400;
    font-size: 1rem;

    letter-spacing: 0.04em;
    line-height: normal;
    color: var(--text-color);
  }

  .mag-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    gap: 26px;

    min-width: 390px;
    width: 100%;
    height: auto;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .mag-desc {
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 0.04em;

    padding: 8px 18px;
  }

  .mag-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 90px 10px;
  }

  .mag-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .mag-title {
    font-weight: 500;
    font-size: 1.5rem;

    margin-bottom: 16px;
  }

  .mag-text {
    font-size: 1.12rem;

    line-height: 1.4;
    letter-spacing: 0.06em;

    max-width: 600px;
    width: 100%;
  }

  .mag-images {
  }

  .m-img {
    width: 500px;
    height: auto;

    object-fit: cover;
  }

  .mag-info {
    grid-area: auto;
    max-width: 390px;
    width: 100%;
  }

  .mag-subtitle {
    font-weight: 500;
    font-size: 1.5rem;

    margin-bottom: 32px;
  }

  .mag-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 24px;

    min-width: 390px;
    width: 100%;
    height: auto;
  }

  .mag-item {
    padding: 18px 14px;
    width: 250px;
    height: 152px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .mag-desc {
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 0.04em;

    padding: 8px 18px;
  }

  .mag-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 120px 0px;
  }

  .mag-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: auto;
  }

  .mag-title {
    font-weight: 500;
    font-size: 2rem;

    margin-bottom: 16px;
  }

  .mag-text {
    font-size: 1.12rem;

    line-height: 1.4;
    letter-spacing: 0.06em;

    max-width: 560px;
    width: 100%;
  }

  .m-img {
    width: 560px;
    height: auto;

    object-fit: contain;
  }

  .mag-info {
    grid-area: auto;
    max-width: 600px;
    width: 100%;
  }

  .mag-subtitle {
    font-weight: 500;
    font-size: 1.5rem;

    margin-bottom: 32px;
  }

  .mag-list {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: start;
    justify-content: start;

    gap: 24px;

    min-width: 600px;
    width: 100%;
    height: auto;
  }

  .mag-item {
    padding: 18px 14px;
    width: 250px;
    height: 152px;
  }
}
