@media screen and (max-width: 424px) {
  .nav-list.show {
  }

  .nav-item {
    /* margin-bottom: 16px; */
  }

  .nav-item:nth-last-child(1) {
    margin-bottom: 0px;
  }

  .burger-btn {
    position: absolute;
    right: 0;
    /* top: 30px; */
    width: 40px;
    height: 28px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 999;
    /* outline: 1px solid red; */
  }

  .bar {
    height: 4px;
    width: 100%;
    background-color: #333;
    transition: 0.3s ease;
    border-radius: 10px;
  }

  .nav-list {
    position: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /* padding-left: 16px; */
    background-color: #fff;

    transform: translateX(100%);
    transition: all 0.4s ease-in;
    visibility: hidden;
    opacity: 0;

    z-index: 666;
    gap: 22px;
  }

  .show,
  .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .bar:nth-child(1).active {
    transform: rotate(45deg) translate(9px, 9px);
  }
  .bar:nth-child(2).active {
    display: none;
  }
  .bar:nth-child(3).active {
    transform: rotate(-45deg) translate(8px, -8px);
  }

  /** =================================== */
  /*! HERO-SECTION */
  /** =================================== */

  .hero-img-conteiner {
    display: none;
  }

  .hero-desc {
    margin-left: 10px;
  }

  .hero-title {
    font-size: 2rem;

    margin-bottom: 48px;
  }

  .hero-btn {
    font-weight: 400;
    font-size: 1rem;

    border-radius: 25px;
    padding: 14px 56px;
  }

  /** =================================== */
  /*! ABOUT-SECTION */
  /** =================================== */
  .about-container {
    padding: 120px 10px;
  }

  .about-text {
    font-weight: 400;
    font-size: 1rem;

    text-align: left;
    line-height: 1.6;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    max-width: 420px; /* Limit text width to ~80ch characters per line for readability */
    margin: 0 auto;
  }
}
