/* RESET CSS */

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  font-family: "Plus Jakarta Sans", sans-serif;
  /* font-size: 0.625rem; */
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  height: 100%;
  line-height: 1;
  background-color: var(--body-color);
}

button {
  cursor: pointer;
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

.container {
  width: min(100%, 1280px); /* parent size 100% width */
  margin: 0 auto;
  padding: 0 15px;
}

:root {
  --body-color: #212529;
  --footer-body: #333333;

  --title-color: #fff;
  --text-color: #fff;
  --text-nav-color: #333;
  --span-color: #28fca7;

  --border-color: #fff;
  --btn-1-color: #fff;
  --btn-hover-color: #5c7cfa;
  --btn-menu-hover: #311f09;
  --hero-background: #fff;
  --hero-caption: rgba(255, 255, 255, 0.2);
  --card-caption: rgba(255, 255, 255, 0.2);
  --spot-background: rgba(17, 17, 17, 0.6);
}
