.toloka-container {
  position: relative;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  padding: 120px 0;
}

.toloka-desc {
  position: absolute;
  width: fit-content;

  top: 20px;
  right: 0;
  padding: 6px 16px;
  background-color: var(--hero-caption);
  border-radius: 1.25rem;
}

.desc {
  font-weight: 600;
  color: var(--span-color);
  font-size: 1.5rem;
  letter-spacing: 0.06em;
}

.tol-content-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.toloka-content {
  margin-bottom: 22px;
}

.toloka-titlte {
  font-weight: 500;
  font-size: 2rem;

  color: var(--title-color);
  margin-bottom: 0.88rem;
}

.toloka-text {
  font-weight: 400;
  font-size: 1.12rem;

  color: var(--text-color);
  line-height: 1.4;
  letter-spacing: 0.04em;
}

.interactive-content {
}

.toloka-img {
  width: 520px;
  height: 374px;
  object-fit: cover;
}

.tol-img-desc {
  font-weight: 400;
  font-size: 1rem;

  letter-spacing: 0.04em;
  color: var(--text-color);
  line-height: 1.4;

  margin-top: 32px;
}

.list-box {
  align-self: center;
}

.tol-list-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--title-color);

  margin-bottom: 32px;
}

.list-title {
}

.toloka-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  gap: 20px;
}

.toloka-list-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  gap: 14px;

  border: 1px solid #fff;

  padding: 0 20px;
  width: 246px;
  height: 152px;
}

.icon-toloka-box {
  display: flex;
  align-items: center;

  background-color: var(--card-caption);
  padding: 12px;
  border-radius: 50%;
}

.toloka-icon {
  width: 24px;
  height: 24px;
}

.toloka-list-desc {
  font-weight: 400;
  font-size: 1rem;

  letter-spacing: 0.04rem;
  color: var(--text-color);
}
